# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [ ]:
print("Anish Nayak")

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:

import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [8]:


students = pd.read_csv('data_raw/students.csv')

bins = [0, 60, 70, 80, 90, 100]
labels = ['F', 'D', 'C', 'B', 'A']

students['lettergrade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=False)

print(students)

    studentid  numericgrade lettergrade
0           1            61           D
1           2             0           F
2           3            14           F
3           4            57           F
4           5            72           C
5           6            93           A
6           7            40           F
7           8            11           F
8           9             3           F
9          10            63           D
10         11             7           F
11         12            46           F
12         13            75           C
13         14            95           A
14         15            22           F
15         16            40           F
16         17            53           F
17         18            57           F
18         19            82           B
19         20            50           F
20         21             8           F
21         22            87           B
22         23            82           B
23         24            30           F
24         25            62           D

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [9]:
results = pd.read_csv('data_raw/results.csv')

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [10]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.


results, results.dtypes

# the time column is listed as a type object, which suggests that it is being treated as a string or mixed type in the dataset

(       resultId  raceId  driverId  constructorId number  grid position  \
 0             1      18         1              1     22     1        1
 1             2      18         2              2      3     5        2
 2             3      18         3              3      7     7        3
 3             4      18         4              4      5    11        4
 4             5      18         5              1     23     3        5
 ...         ...     ...       ...            ...    ...   ...      ...
 25835     25841    1096       854            210     47    12       16
 25836     25842    1096       825            210     20    16       17
 25837     25843    1096         1            131     44     5       18
 25838     25844    1096       849              3      6    20       19
 25839     25845    1096         4            214     14    10       \N

       positionText  positionOrder  points  laps         time milliseconds  \
 0                1              1    10.0    58  1:34:50.616      5690616
 1                2              2     8.0    58       +5.478      5696094
 2                3              3     6.0    58       +8.163      5698779
 3                4              4     5.0    58      +17.181      5707797
 4                5              5     4.0    58      +18.014      5708630
 ...            ...            ...     ...   ...          ...          ...
 25835           16             16     0.0    57           \N           \N
 25836           17             17     0.0    57           \N           \N
 25837           18             18     0.0    55           \N           \N
 25838           19             19     0.0    55           \N           \N
 25839            R             20     0.0    27           \N           \N

       fastestLap rank fastestLapTime fastestLapSpeed  statusId
 0             39    2       1:27.452         218.300         1
 1             41    3       1:27.739         217.586         1
 2             41    5       1:28.090         216.719         1
 3             58    7       1:28.603         215.464         1
 4             43    1       1:27.418         218.385         1
 ...          ...  ...            ...             ...       ...
 25835         39   12       1:29.833         211.632        11
 25836         40   20       1:31.158         208.556        11
 25837         42   11       1:29.788         211.738         9
 25838         45   14       1:30.309         210.517       130
 25839         24   17       1:30.579         209.889        47

 [25840 rows x 18 columns],
 resultId             int64
 raceId               int64
 driverId             int64
 constructorId        int64
 number              object
 grid                 int64
 position            object
 positionText        object
 positionOrder        int64
 points             float64
 laps                 int64
 time                object
 milliseconds        object
 fastestLap          object
 rank                object
 fastestLapTime      object
 fastestLapSpeed     object
 statusId             int64
 dtype: object)

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [11]:
# Write your own code here

non_num_values = results[~results['milliseconds'].str.isnumeric()]['milliseconds'].unique()
results['milliseconds'] = pd.to_numeric(results['milliseconds'], errors='coerce')
non_num_values, results

(array(['\\N'], dtype=object),
        resultId  raceId  driverId  constructorId number  grid position  \
 0             1      18         1              1     22     1        1
 1             2      18         2              2      3     5        2
 2             3      18         3              3      7     7        3
 3             4      18         4              4      5    11        4
 4             5      18         5              1     23     3        5
 ...         ...     ...       ...            ...    ...   ...      ...
 25835     25841    1096       854            210     47    12       16
 25836     25842    1096       825            210     20    16       17
 25837     25843    1096         1            131     44     5       18
 25838     25844    1096       849              3      6    20       19
 25839     25845    1096         4            214     14    10       \N

       positionText  positionOrder  points  laps         time  milliseconds  \
 0                1              1    10.0    58  1:34:50.616     5690616.0
 1                2              2     8.0    58       +5.478     5696094.0
 2                3              3     6.0    58       +8.163     5698779.0
 3                4              4     5.0    58      +17.181     5707797.0
 4                5              5     4.0    58      +18.014     5708630.0
 ...            ...            ...     ...   ...          ...           ...
 25835           16             16     0.0    57           \N           NaN
 25836           17             17     0.0    57           \N           NaN
 25837           18             18     0.0    55           \N           NaN
 25838           19             19     0.0    55           \N           NaN
 25839            R             20     0.0    27           \N           NaN

       fastestLap rank fastestLapTime fastestLapSpeed  statusId
 0             39    2       1:27.452         218.300         1
 1             41    3       1:27.739         217.586         1
 2             41    5       1:28.090         216.719         1
 3             58    7       1:28.603         215.464         1
 4             43    1       1:27.418         218.385         1
 ...          ...  ...            ...             ...       ...
 25835         39   12       1:29.833         211.632        11
 25836         40   20       1:31.158         208.556        11
 25837         42   11       1:29.788         211.738         9
 25838         45   14       1:30.309         210.517       130
 25839         24   17       1:30.579         209.889        47

 [25840 rows x 18 columns])

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [12]:
# Write your own code

df_aggCon_pos = results.groupby('constructorId')['laps'].agg(['mean', 'std'])
df_aggCon_pos = df_aggCon_pos.sort_values(by='mean', ascending=False)
df_aggCon_pos

                     mean        std
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [13]:
# Write your own code

subset = results.query('raceId >= 150')
subset['position'] = pd.to_numeric(subset['position'], errors='coerce')
df_subAggCon_pos = subset.groupby('constructorId')['position'].agg(['mean', 'std'])
df_subAggCon_pos.head()

/var/folders/4h/tq2kcsbs0s9559v2ff08kwp00000gn/T/ipykernel_2275/518152786.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['position'] = pd.to_numeric(subset['position'], errors='coerce')

                    mean       std
constructorId
1               6.121634  4.294358
3               7.983836  5.509701
4               8.617834  4.388534
5              11.430868  3.157308
6               4.733661  3.395834